{% extends "base.html" %}
{% block content %}
<body>
    <h1>Here are some useful links in the context of this project.</h1>
    <div class="plaintext">
        <p>
            <ul>
                <li>
                    <a href="/static/resources/leaffliction_subject.pdf" target="_blank" rel="noopener noreferrer">The PDF file describing the project assignment</a> (PDF, 3.4Mb)
                </li>
                <li>
                    <a href="https://github.com/uboumedj/leaffliction">This project's page on my github</a>
                </li>
                <li>
                    <a href="https://www.kaggle.com/datasets/emmarex/plantdisease">The complete dataset from Kaggle (the school project only uses 10% of it)</a>
                </li>
                <li>
                    <a href="https://victorzhou.com/blog/keras-cnn-tutorial/">The Keras tutorial we followed to build a CNN</a>
                </li>
            </ul>
        </p>
    </div>
</body>
{% endblock %}