{% extends "base.html" %}
{% block content %}
<body>
    <h1> Select an image to generate a prediction </h1>
    <div class="gallery">
        {% for image in images %}
        <div class="gallery-item">
            <form action="/predict" method="post" onsubmit="showLoading()">
                <input type="hidden" name="image_path" value="{{ image }}">
                <button type="submit" style="border: none; background: none; padding: 0; cursor: pointer;">
                    <img src="{{ image }}" alt="{{ image }}">
                </button>
            </form>
        </div>
        {% endfor %}
    </div>

    <div class="loading-overlay" id="loading-overlay">
        <div class="spinner"></div>
    </div>
    
    <script>
        function showLoading() {
            document.getElementById('loading-overlay').style.display = 'flex';
        }
    </script>
</body>
{% endblock %}