<style>
    header {
        overflow: hidden;
        font-size: 18px;
    }

    nav {
        display: left;
        text-align: center;
    }

    .nav-link {
        font-size: 100%;
        color: #5c4033;
        text-decoration: none;
        padding: 5%;
        text-transform: uppercase;
        &:hover {
            color: #5e9c54;
        }
    }

</style>

<header>
    <nav>
        <b><a href="/" class="nav-link">Leaffliction</a></b>
        
        <b><a href="/overview" class="nav-link">Project overview</a></b>
        
        <b><a href="/about" class="nav-link">About</a></b>
    </nav>
</header>